@import 'tailwindcss';

@layer base {
  *,
  ::before,
  ::after {
    border-color: theme('colors.gray.600');
  }

  @media (prefers-color-scheme: dark) {
    *,
    ::before,
    ::after {
      border-color: theme('colors.gray.600');
    }
  }
}
