@import 'tailwindcss';

html, body {
  height: 100%;
  overflow: hidden;
}

body {
  background-color: #fdf4e7;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #1c1917;
    color: #e7e5e4;
  }
}
